{% extends 'plantilla.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100 mt-5">
    <div class="row justify-content-center w-100">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="text-center">
                <h1 class="display-4">Términos y Condiciones</h1>
                <h3 class="text-danger">Regio Box Party</h3>
                <p class="lead">Bienvenido al sitio web de Regio Box Party. Al navegar o utilizar 
                nuestros servicios, usted acepta los presentes Términos y Condiciones. 
                Le pedimos leerlos cuidadosamente.</p>
            </div>
            <hr class="mt-4 mb-4">
            
            <div class="text-start">  
                <h3>1. Aceptación de los Términos.</h3>
                <p>Al acceder y utilizar este sitio web, usted acepta cumplir con 
                    estos Términos y Condiciones, así como con todas las leyes y 
                    regulaciones aplicables. Si no está de acuerdo con alguno de 
                    estos términos, le rogamos no utilizar nuestro sitio.</p>
                
                <h3>2. Uso del Sitio.</h3>
                <p>Usted se compromete a utilizar este sitio web únicamente 
                    con fines legales y de acuerdo con estos Términos y Condiciones. 
                    No debe utilizar el sitio de ninguna manera que pueda dañar, 
                    deshabilitar, sobrecargar o perjudicar el funcionamiento del 
                    mismo.</p>

                
                <h3>3. Propiedad Intelectual.</h3>
                    <p>Todo el contenido presente en este sitio web, incluyendo 
                        pero no limitado a textos, gráficos, logotipos, imágenes y 
                        software, es propiedad de RegioBox Party o de sus licenciantes 
                        y está protegido por las leyes de propiedad intelectual. 
                        Queda prohibida la reproducción, distribución o modificación 
                        no autorizada de dicho contenido.</p>
            

                <h3>4. Privacidad.</h3>
                    <p>Su privacidad es importante para nosotros. Le invitamos a 
                       revisar nuestra Política de Privacidad para entender cómo 
                       recopilamos, utilizamos y protegemos su información personal.</p>
                 

                <h3>5. Limitación de Responsabilidad.</h3>
                    <p>RegioBox Party no será responsable por ningún daño directo, 
                    indirecto, incidental, especial o consecuente que resulte 
                    del uso o la imposibilidad de usar este sitio web o los 
                    servicios ofrecidos en él.</p> 
                    
                
                <h3>6. Contacto.</h3>
                   <p>Si tiene alguna pregunta o inquietud acerca de estos Términos y 
                    Condiciones, no dude en contactarnos a través de los 
                    medios proporcionados en nuestro sitio web.</p>

                                
                <h3>7. Modificaciones a los Términos.</h3>
                   <p>Nos reservamos el derecho de modificar estos Términos y 
                      Condiciones en cualquier momento. Cualquier cambio será 
                      efectivo inmediatamente después de su publicación en este 
                      sitio web. Le recomendamos revisar periódicamente estos 
                      términos para estar informado sobre cualquier actualización.</p>


                <h3>8. Ley Aplicable.</h3>
                    <p>Estos Términos y Condiciones se regirán e interpretarán 
                        de acuerdo con las leyes Mexicanas, sin 
                        tener en cuenta sus disposiciones sobre conflictos de leyes.</p>
                                    
                <h3>9. Contacto.</h3>
                    <p>Si tiene alguna pregunta o inquietud acerca  de estos Términos y 
                       Condiciones, no dude en contactarnos a través de los 
                       medios proporcionados en nuestro sitio web.</p>
            
                <div class="text-center mt-4 mb-5">
                    <b>Última actualización 06/10/2025</b>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}
                    
